
#Visual Studio files
*.psess
*.etl
*.vsp
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.lastbuildstate
*.tlog
*.pdb

*.sqlce
*.playlist
bmp.output
bmp.tab.cpp
bmp.tab.hpp
lex.yy.c
lex.yy.cpp
location.hh
stack.hh
position.hh
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Dd]eployment*/
[Dd]emo*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

# Mac Files
.DS_Store
